JMETER_HOME=C:/Users/mohd.jamal/Downloads/apache-jmeter-5.6.3
JMETER_SCRIPT_ROOT=C:/Users/mohd.jamal/Downloads/apache-jmeter-5.6.3/TestScripts
PERF_RESULTS_DIR=results
SLA_MS=3000
REPORT_APPLICATION_URL=
